*{
    margin: 0;
    padding: 0;
}

div{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid salmon;
    
    display: flex;
    flex-direction: column;
    border: 1px saddlebrown;
}

#title{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 90px;
}